
<p>Un établissement souhaite devenir partenaire : <br>
    Contact: {{ data.title }}<br>
    ContactPhone: {{ data.phone }}<br>
    ContactMail : {{ data.email }}<br>
    Addresse : {{ data.address }}</p>