Une demande de réinitialisation de mot de passe a été faite, veuillez suivre le lien suivant si vous souhaitez poursuivre cette action:

<a href="{{ app.request.getSchemeAndHttpHost() ~ path('user_reset_password', { 'id': user.id, 'token': user.forgotToken }) }}">{{ app.request.getSchemeAndHttpHost() ~ path('user_reset_password', { 'id': user.id, 'token': user.forgotToken }) }}</a>