{% block content %}
    <!--Hero-->
    <!-- trouver pourquoi je peux pas mettre l'image en fond (pour lui mettre un filtre bleu devant) -->
    <div class="section" id="index-banner">
        <div id="image">
            <img id="imgMap" src="{{ asset('bundles/app/images/map.png') }}">
        </div>
        <div class="opacity">
            <div id="banner">
                <h1>
                    J'aime
                    <a href="" id="textMap" class="typewrite" data-period="2000" data-type='[ "Découvrir", "Planifier", "Prendre la route" ]'>
                        <span class="wrap"></span>
                    </a>
                </h1>
            </div>
        </div>
    </div>

    <!-- background-image: url("/bundles/app/images/map.png");background-color: rgba(248, 247, 216, 0.7); -->

    <!--Form roadtrip-->
    <div id="intro" class="section">
        <div class="container">
            <div class="row">
                <div  class="col-md-12 col-lg-12">
                    <h2 id="titleSection"> Créez votre propre aventure <span class="span_blue"> Organisez votre voyage  </span>Trouvez les bons plans. </h2>
                </div>
                <div class="form-group col-md-6 col-lg-6" id="searchDep">
                    <label for="icon_prefix"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Départ de</label>
                    <input id="icon_prefix" type="text" class="form-control">
                </div>
                <div class="form-group col-md-6 col-lg-6" id="searchDest">
                    <label for="icon_telephone"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Destination</label>
                    <input id="icon_telephone" type="tel" class="form-control">
                </div>
                <div class="form-group col-md-12 col-lg-12 center-block" id="searchRt">
                    <a class="btn btn-info">Trouver mon roadtrip</a>
                </div>
            </div>
        </div>
    </div>

    <!--Parallax-->
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('bundles/app/images/parallax.jpeg') }}" style="width: 100%"></div>
    </div>

    <!-- Contactez-nous -->
    <div class="contact">

    </div>
{% endblock %}

