{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div id="register">
        <div class="container">
            <div class="row">
                <div class="content-register col s12 m8 offset-m2 l6 offset-l3">
                    <h3 class="center-align">Mot de passe oublié</h3>
                    {% if errors is not empty %}
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if valid %}
                        <form method="POST" action="{{ path('user_reset_password', { 'id': user.id, 'token': user.forgotToken }) }}">
                            <div class="center-align">
                            <div class="center-align col 6">
                                Mot de passe: <input name="password[0]" type="password">
                                Vérification de mot de passe: <input name="password[1]" type="password">
                            </div>
                            <div class="center-align">
                                <button class="btn waves-effect waves-light full-width" type="submit" name="action">Valider
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="right-align">
                <a href="{{ path('roadtrip_index') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script>
        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: 100,
            closeOnSelect: false,
            formatSubmit: 'yyyy-mm-dd',
            max: true,
            today: '',
            clear: '',
            close: 'valider',
            monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre']
        });
    </script>
{% endblock %}




